.body{
    background-color: white;
}

*{
    padding: 0%;
    margin: 0%;
}
.navLinks ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
header{
    background-color: white;
    padding: 10px 30px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 20px;
    color: black;
    font-weight: bolder;
    border: 2px solid white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

ul{
    list-style: none;
}
.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.navLinks li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

div{
    display: flex;
    flex-direction: row;
}

.bag a{
    color: black;
    text-decoration: none;

}

li a{
    text-decoration: none;
    color: black;
}

.pageName{
    background-color: black;
    color: white;
    font-size: 100px;
    margin: 60px 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.image{
    padding: 50px;
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.img2{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.para{
    font-size: 20px;
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px 0px 30px 0px;
    padding: 0px 50px;
    gap: 30px;
}